* {box-sizing: border-box;}

html, body {
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    min-width: 280px;
}

.flex {
    display: flex;
}

.mainbox {
    max-width: 1200px;
    margin: 0 auto;
}

.header-placeholder {
    height: 10vh;
}

.home-container {
    position: relative;
    height: 90vh;
}

.slider {
    height: 90vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.slider div {
    margin: 0 auto;
    height: 100%;
}

.slider div .content {
    color: white;
    text-align: center;
}

.content h1, .content h2 {
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 15%;
    color: rgb(250, 121, 15);
}

.content h1 span, h2 span {
    display: block;
    padding: 20px 5px;
    font-size: 2rem;
    text-transform: none;
    color: white;
    line-height: 1.2;
}

.content .button {
    margin-top: 30px;
}

.button a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    border: 2px solid white;
    background: rgba(88, 88, 88, 0.8);
    transition: all .7s;
}

.button a:hover {
    background: rgb(250, 121, 15);
}

.slide1 {
    background: url(../images/min/1.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.slide2 {
    background: url(../images/min/slide6-min.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.slide3 {
    background:url(../images/min/slide5-min.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.slider-nav {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    padding: 20px;
}

.box {
    justify-content: space-around;
    align-self: flex-end;
    width: 100%;
    z-index: 1;
    position: relative;
}

.box-1 {
    width: 33.3%;
    background: rgba(104, 103, 103, 0.3);
    padding: 30px;
    align-items: center;
    transition: all .8s;
}

.box-1:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.box-1:hover {
    background: rgb(250, 121, 15);
}

.box-1 i {
    font-size: 4rem;
    padding-right: 25px;
    color: white;
}

.box-1 p {
    color: white;
    font-size: 1.6rem;
    line-height: 1.4;
}

.box-1 p span {
    text-transform: uppercase;
    font-size: 1.8rem;
    display: block;
    color: rgb(221, 221, 221);
}

.box-1 p a {
    text-decoration: none;
    color: white;
}

.box-1 p a:hover {
    color: black;
}

/* ABOUT SEKCIJA */

.title {
    margin: 50px 0 70px;
    text-align: center;
    font-size: 2.5rem;
    padding: 0 10px;
    color: rgb(250, 121, 15);
    text-transform: uppercase;
}

.quality {
    margin: 40px 5px 40px 5px;
    text-align: center;
    line-height: 1.2;
    padding: 0 10px;
    font-size: 1.8rem;
}

.quality-m {
    margin: 40px 0;
}

.values {
    justify-content: space-around;
    margin: 40px 5px 0 5px;
    border-bottom: 1px solid rgb(109, 148, 182);
}

.why-box {
    width: 23%;
}

.icon-box {
    border: 1px solid rgb(57, 81, 102);
    margin: 0 auto;
    align-self: center;
    transform: rotate(45deg);
    width: 75px;
    height: 75px;
    position: relative;
    color: rgb(57, 81, 102);
}

.scale {
    transition: all 1s;
}

.scale:hover {
    transform: scale(1.2) rotate(45deg);
    box-shadow: 5px 5px 15px 5px rgba(87, 87, 87, 0.5);
}

.rotate {
    transition: all 1s;
}

.rotate:hover {
    transform: rotate(-135deg) scale(1.2);
    box-shadow: -5px -5px 15px 5px rgba(87, 87, 87, 0.5);
}

.icon-box i {
    padding: 25px;
    font-size: 3rem;
    transform: rotate(-45deg);
    align-self: center;
    transition: all 1s;
}

.info .icon-box i {
    font-size: 3.2rem;
    padding: 30px;
    text-align: center;
}

/* PASLAUGOS */

.phones, .mac, .priedai {
    margin: -20px 5px 70px 5px;
    flex-wrap: wrap;
    align-items: space-between;
}

.phones {
    margin: -20px 5px 70px 5px;
}

.mac, .priedai {
    margin: 20px 5px 70px 5px;
}

.image-box {
    width: 50%;
    height: auto;
    border: 1px solid rgb(57, 81, 102);
}

.phones .image-box {
    background:url(../images/services/iphone-ipad-1-min.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.services-box {
    width: 50%;
    padding-left: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mac .services-box {
    padding-right: 10px;
}

.services-box .service-title {
    font-size: 2rem;
    padding-left: 10px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}

.services-box p {
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 10px 8px;
    background: rgba(247, 247, 247, 0.7);
    box-shadow: 1px 1px 5px 1px rgba(87, 87, 87, 0.5);
    transition: all .6s;
    font-size: 1.1rem;
    width: 47%;
    text-align: center;
}

.services-box p:hover {
    background: rgb(250, 121, 15);
    cursor: context-menu;
}

.mac .image-box {
    background:url(../images/services/mac-1-min.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.priedai .image-box {
    background:url(../images/services/priedai-min.jpg) no-repeat 50% 50%;
    background-size: cover;
}

/* FOOTER */

footer {
    background: rgb(87, 87, 87);
}

.footer {
    justify-content: space-between;
}

.footer p {
    padding: 30px 10px;
    color: white;
    font-size: 1.2rem;
}

@media(max-width: 1100px){

    .box-1 {
        padding: 20px;
        width: 30%;
    }

    .box-1:nth-child(2) {
        width: 40%;
    }

    .box-1 i {
        font-size: 2.5rem;
        padding-right: 15px;
    }

    .box-1 p {
        font-size: 1.3rem;
    }

    .box-1 p span {
        text-transform: uppercase;
        font-size: 1.5rem;
        display: block;
    }

    .values {
        flex-wrap: wrap;
    }

    .why-box {
        width: 45%;
        margin-bottom: 25px;
    }

    .services-box p {
        font-size: 1rem;
    }

    .services-box {
        padding: 10px;
    }
}

@media(max-width: 750px){

    .content h1, .content h2 {
        margin-top: 60px;
    }

    .box {
        flex-wrap: wrap;
    }

    .box-1 {
        width: 100%;
        justify-content: center;
    }

    .box-1 p span {
        display: inline;
    }

    .box-1:nth-child(2) {
        border-left: none;
        border-right: none;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 100%;
    }

   .phones, .mac, .priedai {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .phones .image-box {
        width: 100%;
        height: 300px;
        margin: 0 5px;
        order: 1;
    }

    .mac .image-box {
        width: 100%;
        height: 300px;
        margin: 0 5px;
    }

    .priedai .image-box {
        width: 100%;
        height: 300px;
        margin: 0 5px;
        order: 1;
    }

    .services-box {
        width: 100%;
        padding: 5px;
    }

    .services-box p {
        width: 48%;
    }
}

@media(max-width: 500px){

    .slide1 {
        background: url(../images/min/mobile/1-mobile.jpeg) no-repeat 50% 50%;
    }

    .slide2 {
        background: url(../images/min/mobile/slide6-mobile.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .slide3 {
        background:url(../images/min/mobile/slide5-mobile.jpeg) no-repeat 50% 50%;
        background-size: cover;
    }

    .content h1, .content h2 {
        font-size: 1.6rem;
    }

    .content h1 span, h2 span {
        font-size: 1rem;
    }

    .content .button {
        margin-top: 10px;
    }

    .button a {
        font-size: .8rem;
        padding: 7px 10px;
    }

    .box-1 {
        padding: 10px 15px;
    }

    .box-1 i {
        font-size: 1.3rem;
    }

    .box-1 p {
        font-size: 1.2rem;
    }

    .box-1 p span {
        font-size: 1.2rem;
    }

    .quality {
        font-size: 1.2rem;
        margin: 30px 5px 25px 5px;
    }

    .title {
        font-size: 1.6rem;
        margin: 30px 0 45px;
    }

    .phones .image-box,
    .mac .image-box,
    .priedai .image-box {
        height: 200px;
    }

    .services-box .service-title {
        font-size: 1.6rem;
    }

    .services-box p {
        display: block;
        text-align: center;
    }
}

@media(max-height: 400px){

    .box-1 {
        width: 30%;
        padding: 10px;
    }

    .box-1:nth-child(2) {
        width: 40%;
        border-top: none;
        border-bottom: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .content h1, .content h2 {
        font-size: 1.6rem;
        margin-top: 40px;
    }

    .content h1 span, h2 span {
        font-size: 1rem;
    }

    .content .button {
        margin-top: 10px;
    }

    .button a {
        font-size: .8rem;
        padding: 7px 10px;
    }

    .box-1 i {
        font-size: 1.3rem;
    }

    .box-1 p {
        font-size: 1rem;
    }

    .box-1 p span {
        font-size: 1rem;
    }
}
