* {box-sizing: border-box}

/* SPALVOS

color="#46c7ab" - žalioji
color="#fbfbfb" - auto sekcija bg
color="#cecece" - pilka2
color="#4f616e" - pilka1

*/

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    min-width: 300px;
}

.mainbox {
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #4f616e;
}

/* HEADER */

.header-box {
    justify-content: space-between;
    align-items: center;
    height: auto;
    font-size: 1.2rem;
    z-index: -1;
}

.logo-box {
    color: #46c7ab;
    font-size: 1.5rem;
}

.logo-img {
    width: 120px;
}

.nav {
    align-items: center;
}

.nav .active {
    border-top: solid 5px #46c7ab;
    box-shadow: 12px 0 30px -4px rgba(243, 243, 243, 0.8),
    -12px 0 30px -4px rgba(243, 243, 243, 0.8);
}

.nav .active:hover {
    color: #4f616e;
    background: white;
    cursor: context-menu;
}

.nav .menu-item {
    margin-right: 5px;
}

.nav .menu-item,
.dropbtn {
    color: #4f616e;
    padding: 18px 10px;
    transition: all .6s;
    display: inline-block;
}

.login-box a li {
    display: inline-block;
}

.nav a:hover, .dropbtn:hover {
    background: #46c7ab;
    color: white;
}

.nav .dropbtn i {
    color: #46c7ab;
    padding: 0 7px 0 10px;
    transition: all .6s;
}

.nav .dropbtn:hover i {
    color: white;
}

.login-box a {
    color: #46c7ab;
    padding: 20px 10px;
}

.login-box a:hover {
    color: #319680;
}

.burger-menu {
    display: none;
    padding: 7px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    cursor: pointer;
    transition: all .6s;
}

.line1, .line2, .line3 {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #a5a5a5;
    margin: 4px 0;
    transition: all 0.6s;
}

.burger-menu:hover {
    background: rgb(248, 248, 248);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2rem;
    color: #f0f0f0;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #46c7ab;
}

.overlay .closebtn {
    position: absolute;
    padding: 5px;
    top: 0;
    right: 20px;
    font-size: 5rem;
}

.overlay .closebtn:hover {
    color: rgb(148, 148, 148);
}

.dropdown {
    display: inline-block;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #4f616e;
    font-size: 1rem;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #46c7ab;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop-links {
    display: none;
    width: 250px;
    margin: 10px auto;
    padding: 10px 0;
}

.overlay-content .drop-links a {
    padding: 5px;
    text-decoration: none;
    font-size: 1.4rem;
    color: #f0f0f0;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.show-me {
    display: block;
    border: 1px solid #46c7ab;
}

/* HOME */

.home {
    height: 90vh;
    background: url(../images/background1.png) no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 1000px;
}

.home-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: -50px 0 75px;
    padding: 0 15px;
}

.search-box {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
}

.search-box h3 {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

form .date-box {
    justify-content: space-between;
}

p.date-info {
    color: white;
    margin-bottom: 3px;
}

.start-date, .end-date {
    position: relative;
    max-width: 45%;
}

.start-date span,
.end-date span,
.location span,
.car-type span {
    position: absolute;
    padding: 8px;
    font-size: 1.5rem;
    color: white;
}

.start-date span,
.end-date span {
    top: 16px;
    left: 0;
}

.start-date input[type=date],
.end-date input[type=date],
.location select,
.car-type select {
    width: 100%;
    padding: 5px 0 5px 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    border: 1px solid #46c7ab;
    border-radius: 5px;
    color: white;
    background: rgba(220, 220, 220, 0.6);
}

.location select option,
.car-type select option {
    background: rgb(218, 218, 218);
    color: black;
}

form .location {
    position: relative;
    margin: 30px 0;
}

.search input[type=submit] {
    display: block;
    margin: 30px auto;
    width: 150px;
    padding: 5px 0;
    font-size: 1.4rem;
    color: white;
    background: #46c7ab;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all .6s;
}

.search input[type=submit]:hover {
    background: #319680;
}


/* ABOUT SECTION */

.about {
    /* height: 600px; */
    position: relative;
    color: #4f616e;
    font-size: 1.2rem;
}

.secret-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1000px;
    z-index: -1;
}

.about-content {
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-item {
    width: 40%;
}

.about-item h2 {
    color: #46c7ab;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.2;
}

.about-item p {
    line-height: 1.3;
    padding: 15px 0;
}

.about-button {
    display: inline-block;
    background: #46c7ab;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    width: 90%;
    border-radius: 5px;
    transition: all .6s;
    margin-top: 20px;
}

.about-button:hover {
    background: #319680;
}

.about-item h5 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #46c7ab;
    margin-bottom: 10px;
}

.about-item .read-more {
    color: #46c7ab;
    text-decoration: underline;
}

.about-item .read-more:hover {
    color: #319680;
}

/* CARS SECTION */

.cars {
    background: #f9f9f9;
}

.cars-items {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.cars-header {
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.cars-header h3 {
    color: #46c7ab;
    font-size: 2rem;
    font-weight: bold;
}

.cars-header a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #aeaeae;
}

.cars-header a:hover {
    color: #46c7ab;
}

.single-item {
    position: relative;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgb(207, 207, 207);
    margin-bottom: 75px;
}

.hidden-link {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(63, 73, 99, 0.6);
    border-radius: 5px;
    opacity: 0;
    transition: all .6s;
}

.hidden-link p {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.hidden-link:hover {
    opacity: 1;
}

.single-item .image-box {
    width: 340px;
}

.image-box img {
    width: 100%;
}

.details {
    width: 100%;
    border-top: solid 1px rgb(228, 228, 228);
    border-bottom: solid 1px rgb(228, 228, 228);
    color: #4f616e;
}

.details p {
    padding: 10px 0;
    text-align: center;
    display: inline-block;
    width: 32%;
}

.details p:nth-child(2) {
    border-left: solid 1px rgb(228, 228, 228);
    border-right: solid 1px rgb(228, 228, 228);
}

.car-title {
    text-align: center;
    color: #4f616e;
    padding: 15px 0;
    font-size: 1.2rem;
}

.single-item .price {
    color: #46c7ab;
    text-align: center;
    padding-bottom: 20px;
}

.single-item .price p {
    display: inline-block;
}

.single-item .price .euro {
    font-size: 1.8rem;
}

.single-item .price .cent {
    font-size: 1.3rem;
    margin-left: -3px;
}

.single-item .price .cent span {
    margin-left: 10px;;
}

/* FOOTER */

footer {
    color: #afafaf;
    font-size: 1.1rem;
}

.footer-top {
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-item {
    width: 15%;
}

.footer-item h4 {
    color: #46c7ab;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.footer-item h4 span {
    color: white;
    font-size: .1rem;
}

.footer-item .contacts {
    margin-bottom: 30px;
}

.footer-item .contacts a {
    display: block;
    margin-bottom: 10px;
    color: #46c7ab;
}

.footer-item .contacts a:hover {
    color: #319680;
}

.footer-item .social-icons i {
    font-size: 1.6rem;
    color: #afafaf;
    margin-right: 5px;
}

.footer-item .social-icons i:hover {
    color: #319680;
}

.bottom-menu li {
    margin-bottom: 10px;
}

.bottom-menu li a {
    color: #afafaf;
}

.bottom-menu li a:hover {
    color: #46c7ab;
}

.footer-item img {
    width: 100%;
    filter: grayscale(100%);
    transition: all .6s;
}

.footer-item img:hover {
    filter: none;
}

.footer-bottom {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #eeeeee;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    width: 60%;
}

.copyright span {
    color: #46c7ab;
}

@media(max-width: 1200px) {

    .mainbox {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-box {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav, .login-box {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .secret-image {
        max-width: 100%;
    }

    .single-item {
        margin: 25px;
    }

    .single-item .image-box {
        width: 270px;
    }

    .footer-item {
        width: 24%;
    }
}

@media(max-width: 765px) {

    .home-content h1 {
        font-size: 3rem;
        line-height: 1;
        margin: 0 0 30px;
    }

    .secret-image {
        top: 10%;
    }

    .cars-items {
        justify-content: center;
    }

    .single-item {
        margin: 15px;
    }

    .footer-item {
        width: 48%;
    }

    .footer-item:nth-child(2) {
        order: -1;
    }
}

@media(max-width: 500px) {

    .overlay-content {
        top: 10%;
    }

    .overlay a {
        padding: 5px;
        font-size: 1.5rem;
        color: #f0f0f0;
        display: block;
        transition: 0.6s;
    }

    .drop-links {
        width: 150px;
        margin: 5px auto;
        padding: 5px 0;
    }

    .overlay-content .drop-links a {
        padding: 3px;
        font-size: 1rem;
        transition: 0.6s;
    }

    .home-content h1 {
        font-size: 2.4rem;
        margin: 0 0 30px;
    }

    .search-box {
        max-width: 320px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .start-date,
    .end-date {
        position: relative;
        max-width: 49%;
    }

    p.date-info {
        font-size: .9rem;
    }

    .secret-image {
        display: none;
    }

    .about-item {
        width: 100%;
    }

    .about-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .about-item h2 {
        font-size: 2.5rem;
        line-height: 1;
        text-align: center;
    }

    .about-item p {
        line-height: 1.3;
        padding: 15px 0;
    }

    .about-button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 1.4rem;
    }

    .about-item h5 {
        text-align: center;
    }

    .cars-header {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .cars-header h3 {
        font-size: 1.7rem;
    }

    .footer-top {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .footer-item h4 {
        font-size: 1.8rem;
    }
}

@media(orientation: landscape) and (max-height: 481px) {

    .home {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .overlay-content {
        top: 10%;
    }

    .overlay a {
        padding: 5px;
        font-size: 1.5rem;
        color: #f0f0f0;
        display: block;
        transition: 0.6s;
    }

    .drop-links {
        width: 150px;
        margin: 5px auto;
        padding: 5px 0;
    }

    .overlay-content .drop-links a {
        padding: 3px;
        font-size: 1rem;
        transition: 0.6s;
    }

}